.body{
    direction: rtl;
}
.header{
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
    background-color: #E5E5E5;
}


.left-side-button-one{
    margin-left: 20px;
    margin-right:20px;
    background-color: #E5E5E5    !important;
    color: #00313C !important;


    border: none !important;
  
}
.left-side-button-two{
    margin-left: 20px;
    margin-right:20px;
    background-color: #00313C !important;
    color: #E5E5E5    !important;
    border: none !important;
  
}

.center-one{
    margin-left: 20px;
    margin-right:20px;
    background-color: #E5E5E5 !important;
    border: none !important;
    color: #00313C !important;

    

}


/* footer css */
.color{
    background: linear-gradient(to bottom, #101820 0%, #00313C 100%)}

.a{
    text-decoration: none;
    color: #E5E5E5;
}
.row{
    padding: 0px;
    margin: 0px;
}


/* info css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    background-color:#E5E5E5;
    padding: 0px;
    margin: 0px;
}
.info{
    background: linear-gradient(to bottom, #101820 0%, #00313C 100%);
    border-radius: 10px;
    box-shadow: 12px 12px 22px rgb(196, 193, 193);
}
.img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;


}

.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #00313C;
    color: #E5E5E5;
    border-radius: 4px ;
    font-weight: bold;
}
.btn1:hover{
    background-color: #E5E5E5;
    color: #00313C;
    border: 1px solid;
}
.forget{
    color: #E5E5E5;
    text-decoration: none;
}
h1{
    color: #E5E5E5;
}
.login{
    background-color: #E5E5E5;
    padding: 0px;
    margin: 0px;
}
html{
    background-color: #E5E5E5;
}

    .coco {
        height: 500px;
        width: 40%;
     
    }
    
    .coco img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

    }

















/* body {
    font-family: Arial;
    color: white;
  }
  img {
    width: 200px;
    height: 300px;
    object-fit: fill;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #111;
  }
  
  .right {
    right: 0;
    background-color: red;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  } */

