.home {
  background-color: rgb(221, 221, 221);
  margin-top: 4rem;
}
.firstp {
  height: 43rem;
  width: 100%;
  background: rgb(0, 49, 60);
  background: linear-gradient(
    90deg,
    rgba(0, 49, 60, 1) 14%,
    rgba(16, 24, 32, 1) 84%
  );
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.hero-image {
  background: rgb(200, 200, 200) url(/src/assets/img/1.jpg) center left / cover
    no-repeat;
  height: 100%;
  width: 56rem;
  display: flex;
  justify-self: flex-start;
}
.navbar {
  position: fixed;
  width: 100%;
}

.firstp h1 {
  color: rgb(221, 221, 221);
  width: 56rem;
  padding-right: 2.5rem;
  padding-bottom: 6.25rem;
  font-size: 3.5rem;
  display: flex;
  align-self: center;
  justify-self: flex-start;
}

.offer {
  background-color: rgb(221, 221, 221);
  width: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: 3.1rem;
  align-items: center;
}
.offer-text {
  display: flex;
  justify-content: space-around;
  flex-flow: column;
  padding-right: 1rem;
  width: 31rem;
  padding-right: 1.25rem;
}
.offer-text h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(0, 49, 60);
}

.offer-text p {
  font-weight: 600;
  font-size: 1.25rem;
  color: rgb(0, 49, 60);
  padding-top: 1rem;
  padding-bottom: 1.25rem;
}
.offer-img1 {
  background: url(/src/assets/img/2.jpg) center center/cover no-repeat;
  height: 22.5rem;
  width: 15rem;
  border-radius: 10rem 10rem 1.25rem 1.25rem;
  -webkit-box-shadow: 0px 11px 22px 5px #a8a8a8;
  box-shadow: 0px 0.75rem 1.5rem 0.5rem #686868;
}

.btn1 {
  background: rgb(0, 49, 60);
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 49, 60, 1) 14%,
    rgba(16, 24, 32, 1) 84%
  );
  width: 8.1rem;
  height: 3.75rem;
  border-radius: 1rem;
}
.btn1:hover {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.7);
  width: 8.75rem;
  height: 4rem;
  transition: all 0.3s ease-out;
}
.services {
  background: rgb(0, 49, 60);
  background: linear-gradient(
    188deg,
    rgba(0, 49, 60, 1) 14%,
    rgba(16, 24, 32, 1) 84%
  );
  width: 100%;
  height: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.services-title1 {
  color: rgb(200, 200, 200);
  font-weight: 700;
  padding-bottom: 0.75rem;
}
.card-container {
  display: flex;
  justify-content: space-around;
}
.services-text {
  display: flex;
  justify-content: center;
}
.card-services {
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 0.5rem 2.5rem rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  width: 16.8rem;
  height: 20rem;
  transition: all 0.3s ease-out;
  margin: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card-services:hover {
  background: rgb(0, 49, 60);
  -webkit-transition: all 1.1s 0s ease;
  -moz-transition: all 1.1s 0s ease;
  -o-transition: all 1.1s 0s ease;
  transition: all 1.1s 0s ease;
  height: 21.8rem;
  width: 18.1rem;
}
.card-services h1 {
  color: rgb(200, 200, 200);
  font-weight: 700;
  font-size: 1.75rem;
  padding-top: 0.6rem;
}
.card-services p {
  color: rgb(200, 200, 200);
  font-size: 1.1rem;
  margin: 0.6rem;
  align-self: center;
  padding-right: 2.1rem;
  padding-left: 2.1rem;
}
.btn-card1 {
  color: rgb(200, 200, 200);
  width: 12.5rem;
  height: 3rem;
  border-radius: 0.6rem;
  background: rgba(240, 240, 240, 0.267);
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
  border: none;
  font-weight: 700;
}
.offer-img2 {
  background: url(/src/assets/img/3.jpg) center center/cover no-repeat;
  height: 22.5rem;
  width: 15rem;
  border-radius: 10rem 10rem 1.25rem 1.25rem;
  -webkit-box-shadow: 0px 11px 22px 5px #a8a8a8;
  box-shadow: 0px 0.75rem 1.5rem 0.5rem #686868;
}
.offer2 {
  background-color: rgb(221, 221, 221);
  width: 100%;
  display: flex;
  justify-content: center;
  justify-self: center;
  padding-top: 9rem;
  padding-bottom: 9rem;
  padding-left: 3.1rem;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .firstp {
    background: linear-gradient(
        to bottom,
        rgba(14, 14, 14, 0.034),
        rgb(12, 49, 47)
      ),
      url(/src/assets/img/1.jpg) center center/cover no-repeat;
    width: 100%;
    height: 950px;
    display: flex;
    justify-content: center;
  }
  .hero-image {
    display: none;
  }
  .firstp h1 {
    padding: 0;
    margin: 0;
    align-self: center;
    justify-self: center;
    color: rgb(0, 49, 60);
    font-weight: 700;
    width: fit-content;
    font-size: 40px;
    padding-bottom: 400px;
  }

  .offer {
    background-color: rgb(221, 221, 221);
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 15px;
    align-items: center;
    margin: 0%;
  }
  .offer-text {
    display: flex;
    flex-flow: column;
    padding-right: 15px;
    width: 60%;
  }
  .offer-text h1 {
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 49, 60);
  }

  .offer-text p {
    font-weight: 600;
    font-size: 15px;
    color: rgb(0, 49, 60);
  }
  .offer-img1 {
    background: url(/src/assets/img/2.jpg) center center/cover no-repeat;
    height: 250px;
    width: 150px;
    border-radius: 160px 160px 20px 20px;
    -webkit-box-shadow: 0px 11px 22px 5px #a8a8a8;
    box-shadow: 0px 11px 22px 5px #686868;
  }
  .services {
    background: rgb(0, 49, 60);
    background: linear-gradient(
      188deg,
      rgba(0, 49, 60, 1) 14%,
      rgba(16, 24, 32, 1) 84%
    );
    width: 100%;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .services-title1 {
    color: rgb(200, 200, 200);
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 24px;
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .services-text {
    display: flex;
    justify-content: center;
  }
  .card-services {
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    width: 240px;
    height: 300px;
    transition: all 0.3s ease-out;
    margin: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .card-services:hover {
    background: rgb(0, 49, 60);
    -webkit-transition: all 1.1s 0s ease;
    -moz-transition: all 1.1s 0s ease;
    -o-transition: all 1.1s 0s ease;
    transition: all 1.1s 0s ease;
    height: 315px;
    width: 265px;
  }
  .card-services h1 {
    color: rgb(200, 200, 200);
    font-weight: 700;
    font-size: 30px;
  }
  .card-services p {
    color: rgb(200, 200, 200);
    font-size: 15px;
    margin: 15px;
  }
  .btn-card1 {
    color: rgb(200, 200, 200);
    width: 190px;
    height: 44px;
    border-radius: 10px;
    background: rgba(240, 240, 240, 0.267);
    border: none;
    font-weight: 700;
    font-size: 15px;
  }

  .offer2 {
    background-color: rgb(221, 221, 221);
    width: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-right: 15px;
    align-items: center;
    margin: 0%;
  }
  .offer-img2 {
    background: url(/src/assets/img/3.jpg) center center/cover no-repeat;
    height: 280px;
    width: 170px;
    border-radius: 160px 160px 20px 20px;
    -webkit-box-shadow: 0px 11px 22px 5px #a8a8a8;
    box-shadow: 0px 11px 22px 5px #686868;
  }
  .btn1 {
    border: none;
    border-radius: 10px;
    width: 90px;
    height: 45px;
    font-size: 16px;
    text-align: center;
  }
  .btn1:hover {
    width: 100px;
    height: 50px;
  }
}
