* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.8;
 }
  @font-face {
    font-family: "ffShamel";
    src: local("ffShamel"),
     url("./fonts//FFShamel.ttf") format("");
     
    }
 
body , html{
  direction: rtl;
  font-family: "ffShamel", sans-serif;
  background-color: #e5e5e5;
 
}
