.container-aboutus{
  background: linear-gradient(to bottom, #101820 0%, #00313c 100%);
  padding: 6rem 12rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #c7c9c9;
  flex-wrap: wrap;
}
.about-img{
    width: 60%;
    border-radius: 5px;
    margin-top: 5rem;
}
.about-bg{
  background-image: url("../../assets/img/pattern01.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}  