.dropdown-menu1 {
  background: rgb(184, 184, 184);
  width: 200px;
  position: absolute;
  top: 80px;
  list-style: none;
  text-align: start;
}

.dropdown-menu1 li {
  background: rgba(0, 49, 60, 1);
  cursor: pointer;
}

.dropdown-menu1 li:hover {
  background: rgb(87, 87, 87);
}

.dropdown-menu1.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(236, 236, 236);
  padding: 16px;
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
